In [1]:
from glob import glob
from os import path

import numpy as np
import pandas as pd
import sklearn as sk

# [Dataset](https://drive.google.com/drive/folders/1nfrYxDm7TLzls9pedZbLX5rP4McVDWDe)

In [2]:
DATASET_PATH = "SSD2022AS2"

In [3]:
csv_files = glob(pathname=path.join(DATASET_PATH, "*.csv"), recursive=True)

In [4]:
dfs = list()

for csv_file in csv_files:
    dfs.append(pd.read_csv(filepath_or_buffer=csv_file))

In [5]:
df = pd.concat(objs=dfs)

In [6]:
df.head()

,client_user_id,session_id,dropped_frames,FPS,bitrate,RTT,timestamp,device
0,0164608e-924e-407d-b7c6-f3c3fbaa882a,956d6b48-a337-41a5-8695-d265a6aa06ac,0.0,44.0,50.0,265.0,2022-09-14 08:31:10,Windows
1,0164608e-924e-407d-b7c6-f3c3fbaa882a,956d6b48-a337-41a5-8695-d265a6aa06ac,0.0,45.0,44.0,270.0,2022-09-14 08:31:15,Windows
2,0164608e-924e-407d-b7c6-f3c3fbaa882a,956d6b48-a337-41a5-8695-d265a6aa06ac,0.0,44.0,44.0,272.0,2022-09-14 08:31:20,Windows
3,0164608e-924e-407d-b7c6-f3c3fbaa882a,956d6b48-a337-41a5-8695-d265a6aa06ac,0.0,43.0,43.0,212.0,2022-09-14 08:31:25,Windows
4,0164608e-924e-407d-b7c6-f3c3fbaa882a,956d6b48-a337-41a5-8695-d265a6aa06ac,0.0,44.0,45.0,259.0,2022-09-14 08:31:30,Windows

In [7]:
df.shape

(4035062, 8)

In [22]:
df_a = (
    df.drop(labels=["timestamp", "device"], axis=1)
    .groupby(by=["client_user_id", "session_id"])
    .aggregate(
        {
            "dropped_frames": ["mean", "std", "max"],
            "FPS": ["mean", "std"],
            "bitrate": ["mean", "std"],
            "RTT": ["mean", "std"],
        }
    )
)

In [24]:
df_a.head()

                                                                          dropped_frames  \
                                                                                    mean
client_user_id                       session_id
003c2e7e-4392-4d01-81bb-93f2cce29f0b 8d39d204-d510-43cd-bf49-4df53f5ca0a5       9.166667
004a4a88-03ec-4f2e-a0a3-9575fb7e3b1a 10a0bf75-0332-4fa9-8d5b-e2d90ec69bbf       0.510345
006e829c-f656-4836-bc04-bafec3901fdc 11542f15-f5f2-4a02-9344-f0bbc8ad06ad       1.359472
                                     38fd51c4-5e7c-4cd5-abcc-ff3d8e3c3180       1.276265
                                     da0de052-ba6f-4f2c-8053-28d1cdcc0686       0.895911

                                                                                      \
                                                                                 std
client_user_id                       session_id
003c2e7e-4392-4d01-81bb-93f2cce29f0b 8d39d204-d510-43cd-bf49-4df53f5ca0a5  27.891519
004a4a88-03ec-4f2e-a0a3-9575fb7e3b1a 10a0bf75-0332-4fa9-8d5b-e2d90ec69bbf   6.243930
006e829c-f656-4836-bc04-bafec3901fdc 11542f15-f5f2-4a02-9344-f0bbc8ad06ad   7.448480
                                     38fd51c4-5e7c-4cd5-abcc-ff3d8e3c3180   8.476644
                                     da0de052-ba6f-4f2c-8053-28d1cdcc0686   5.379302

                                                                                  \
                                                                             max
client_user_id                       session_id
003c2e7e-4392-4d01-81bb-93f2cce29f0b 8d39d204-d510-43cd-bf49-4df53f5ca0a5  159.0
004a4a88-03ec-4f2e-a0a3-9575fb7e3b1a 10a0bf75-0332-4fa9-8d5b-e2d90ec69bbf   92.0
006e829c-f656-4836-bc04-bafec3901fdc 11542f15-f5f2-4a02-9344-f0bbc8ad06ad   72.0
                                     38fd51c4-5e7c-4cd5-abcc-ff3d8e3c3180   86.0
                                     da0de052-ba6f-4f2c-8053-28d1cdcc0686   38.0

                                                                                 FPS  \
                                                                                mean
client_user_id                       session_id
003c2e7e-4392-4d01-81bb-93f2cce29f0b 8d39d204-d510-43cd-bf49-4df53f5ca0a5  44.337719
004a4a88-03ec-4f2e-a0a3-9575fb7e3b1a 10a0bf75-0332-4fa9-8d5b-e2d90ec69bbf  41.864368
006e829c-f656-4836-bc04-bafec3901fdc 11542f15-f5f2-4a02-9344-f0bbc8ad06ad  29.026398
                                     38fd51c4-5e7c-4cd5-abcc-ff3d8e3c3180  39.822957
                                     da0de052-ba6f-4f2c-8053-28d1cdcc0686  26.847584

                                                                                      \
                                                                                 std
client_user_id                       session_id
003c2e7e-4392-4d01-81bb-93f2cce29f0b 8d39d204-d510-43cd-bf49-4df53f5ca0a5  18.079243
004a4a88-03ec-4f2e-a0a3-9575fb7e3b1a 10a0bf75-0332-4fa9-8d5b-e2d90ec69bbf  12.710460
006e829c-f656-4836-bc04-bafec3901fdc 11542f15-f5f2-4a02-9344-f0bbc8ad06ad   4.702089
                                     38fd51c4-5e7c-4cd5-abcc-ff3d8e3c3180   5.304531
                                     da0de052-ba6f-4f2c-8053-28d1cdcc0686   4.424639

                                                                                bitrate  \
                                                                                   mean
client_user_id                       session_id
003c2e7e-4392-4d01-81bb-93f2cce29f0b 8d39d204-d510-43cd-bf49-4df53f5ca0a5   3883.149123
004a4a88-03ec-4f2e-a0a3-9575fb7e3b1a 10a0bf75-0332-4fa9-8d5b-e2d90ec69bbf   6415.157471
006e829c-f656-4836-bc04-bafec3901fdc 11542f15-f5f2-4a02-9344-f0bbc8ad06ad  17226.447205
                                     38fd51c4-5e7c-4cd5-abcc-ff3d8e3c3180   3930.153696
                                     da0de052-ba6f-4f2c-8053-28d1cdcc0686  13372.773234

                                                                                        \
                                                                                   std
client_user_id                       session_id
003c2e7e-4392-4d01-81bb-93f2cce29f0b 8d39d204-d510-43cd-bf49-4df53f5ca0a5  5381.456809
004a4a88-03ec-4f2e-a0a3-9575fb7e3b1a 10a0bf75-0332-4fa9-8d5b-e2d90ec69bbf  4366.984310
006e829c-f656-4836-bc04-bafec3901fdc 11542f15-f5f2-4a02-9344-f0bbc8ad06ad  5076.756036
                                     38fd51c4-5e7c-4cd5-abcc-ff3d8e3c3180  1532.691830
                                     da0de052-ba6f-4f2c-8053-28d1cdcc0686  4410.790738

                                                                                  RTT  \
                                                                                 mean
client_user_id                       session_id
003c2e7e-4392-4d01-81bb-93f2cce29f0b 8d39d204-d510-43cd-bf49-4df53f5ca0a5  171.109649
004a4a88-03ec-4f2e-a0a3-9575fb7e3b1a 10a0bf75-0332-4fa9-8d5b-e2d90ec69bbf   27.934483
006e829c-f656-4836-bc04-bafec3901fdc 11542f15-f5f2-4a02-9344-f0bbc8ad06ad   58.000776
                                     38fd51c4-5e7c-4cd5-abcc-ff3d8e3c3180   54.888132
                                     da0de052-ba6f-4f2c-8053-28d1cdcc0686   16.405204


                                                                                  std
client_user_id                       session_id
003c2e7e-4392-4d01-81bb-93f2cce29f0b 8d39d204-d510-43cd-bf49-4df53f5ca0a5  277.138638
004a4a88-03ec-4f2e-a0a3-9575fb7e3b1a 10a0bf75-0332-4fa9-8d5b-e2d90ec69bbf   11.900105
006e829c-f656-4836-bc04-bafec3901fdc 11542f15-f5f2-4a02-9344-f0bbc8ad06ad    9.220387
                                     38fd51c4-5e7c-4cd5-abcc-ff3d8e3c3180   55.603848
                                     da0de052-ba6f-4f2c-8053-28d1cdcc0686    8.144871

In [25]:
df_a.columns = ["_".join(column).lower() for column in df_a.columns.to_flat_index()]

In [26]:
df_a = df_a.reset_index(drop=True)

In [27]:
df_a.head()

,dropped_frames_mean,dropped_frames_std,dropped_frames_max,fps_mean,fps_std,bitrate_mean,bitrate_std,rtt_mean,rtt_std
0,9.166667,27.891519,159.0,44.337719,18.079243,3883.149123,5381.456809,171.109649,277.138638
1,0.510345,6.243930,92.0,41.864368,12.710460,6415.157471,4366.984310,27.934483,11.900105
2,1.359472,7.448480,72.0,29.026398,4.702089,17226.447205,5076.756036,58.000776,9.220387
3,1.276265,8.476644,86.0,39.822957,5.304531,3930.153696,1532.691830,54.888132,55.603848
4,0.895911,5.379302,38.0,26.847584,4.424639,13372.773234,4410.790738,16.405204,8.144871

In [28]:
# df_a.to_csv(path_or_buf="output.csv")

# Pipeline

# Next Session Time

# Stream Quality

# Total Number of Bad Sessions